<main data-barba="container" data-barba-namespace="about">
    <div class="nav-logo">
        <a class="nav-icon with-cptr" href="/"></a>
        <p class="nav-tag">Photos<br />Grapho</p>
    </div>
    <div class="load">
        <div>
            <h1>ABOUT</h1>
        </div>
    </div>
    <section id="about" class="bg-circle-dark">
        <header class="pg-header">
            <h1 class="bg-title">ABOUT
                <h1 class="title" data-scroll="10">ABOUT</h1>
            </h1>
        </header>
        <div class="p1">
            <div class="c-logo" data-scroll="15"></div>
            <div class="born" data-scroll="5">
                <p>Didirikan pada</p>
                <h1>25 MARET<br />2009</h1>
            </div>
        </div>
        <div class="p2">
            <h1 class="bg-gpret">G-PRET</h1>
            <div class="star">
                <div>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <p class="desc" data-scroll="20">
                <span>G-PRET (GRESIK PHOTOGRAPHY EDUCATION) </span>
                merupakan Unit Kegiatan Mahasiswa di Universitas
                Muhammadiyah Gresik
            </p>
            <div class="vm" data-scroll="10">
                <div class="visi">
                    <h1>VISI</h1>
                    <p>Membentuk organisasi yang kreatif, dinamis, edukatif dan berprestasi.</p>

                </div>
                <div class="misi">
                    <h1>MISI</h1>
                    <p>Mengenalkan, mengembangkan, dan meningkatkan kreatifitas, ketrampilan, bakat, minat
                        dan
                        kewirausahaan dibidang fotografi.</p>
                </div>
            </div>
        </div>
        <footer>
            <div class="navigate-button nb-dark nb-back">
                <span></span>
                <p>
                    <a href="/">
                        <svg width="46" height="15" viewBox="0 0 46 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g transform="rotate(180 22.7 7.5)">
                                <path d=" M36 1L43.5 7.5L36 14" stroke="currentColor" stroke-width="2" />
                                <path d="M0 7.5H43.5" stroke="currentColor" stroke-width="2" />
                            </g>
                        </svg>
                        HOME
                    </a>
                </p>
            </div>
            <div class="capture">
                <span class="bl"></span>
                <span class="br"></span>
            </div>
            <div class="cr">
                <p>© Copyright</p>
                <div>
                    <a href="https://instagram.com/gpret_umg" target="_blank" class="ig with-cptr"></a>
                    <a href="https://tiktok.com/@gpret_umg" target="_blank" class="tt with-cptr"></a>
                    <a href="https://youtube.com/@g-pretumg" target="_blank" class="yt with-cptr"></a>
                </div>
            </div>
        </footer>
    </section>
</main>