<main data-barba="container" data-barba-namespace="activity-detail">
    <div class="nav-logo">
        <a class="nav-icon with-cptr" href="/"></a>
        <p class="nav-tag">Photos<br />Grapho</p>
    </div>
    <section id="activity-detail" class="bg-circle-dark">
        <header>
            <div class="img">
                <img src="/images<%= data.images[0] %>" alt="">
            </div>
            <h1 class="title">
                <%= data.title %>
            </h1>
            <div class="star">
                <div>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <p class="desc">
                <%= data.desc %>
            </p>
        </header>
        <div class="p1">
            <% data.images.forEach((imageUrl,idx)=> { %>
                <% if(idx>0){ %>
                    <div class="g-item" data-scroll="<%= 3+idx %>">
                        <div class="g-wrap">
                            <img src="/images<%= imageUrl %>" alt="">
                        </div>
                    </div>
                    <% } %>
                        <% }) %>
        </div>
        <footer>
            <div class="navigate-button nb-back">
                <span></span>
                <p>
                    <a href="javascript:history.back()">
                        <svg width="46" height="15" viewBox="0 0 46 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g transform="rotate(180 22.7 7.5)">
                                <path d=" M36 1L43.5 7.5L36 14" stroke="currentColor" stroke-width="2" />
                                <path d="M0 7.5H43.5" stroke="currentColor" stroke-width="2" />
                            </g>
                        </svg>
                        Back
                    </a>
                </p>
            </div>
            <div class="capture">
                <span class="bl"></span>
                <span class="br"></span>
            </div>
            <div class="cr">
                <p>© Copyright</p>
                <div>
                    <a href="https://instagram.com/gpret_umg" target="_blank" class="ig with-cptr"></a>
                    <a href="https://tiktok.com/@gpret_umg" target="_blank" class="tt with-cptr"></a>
                    <a href="https://youtube.com/@g-pretumg" target="_blank" class="yt with-cptr"></a>
                </div>
            </div>
        </footer>
    </section>
</main>