<main data-barba="container" data-barba-namespace="home">
    <div class="load-home">
        <div>
            <div class="img">
                <img src="/images/LOGO_GPRET_White.png
                " alt="">
            </div>
            <div class="tagline">
                <h1>Photos<br />Grapho</h1>
            </div>
        </div>
    </div>
    <section id="home">
        <h1 class="back-title">G-PRET</h1>
        <div class="capture">
            <span class="tl"></span>
            <span class="tr"></span>
            <span class="bl"></span>
            <span class="br"></span>
        </div>
        <div class="footer"><a href="#"></a></div>
        <div class="main">
            <h1 class="title">GRESIK PHOTOGRAPHY EDUCATION</h1>
            <div class="content-card">
                <div class="concard-header" style="display: flex; justify-content: space-between;">
                    <img src="/images/Logo_G_capture_black.png" style="width: 50px;" />
                    <b>Photos<br />Grapho</b>
                </div>
                <div class="c-1">
                </div>
                <div class="char">
                    <div class="c-2"></div>
                </div>
                <div class="navigate-button">
                    <span></span>
                    <p>
                        <a href="/about">
                            ABOUT
                            <svg width="46" height="15" viewBox="0 0 46 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path d=" M36 1L43.5 7.5L36 14" stroke="currentColor" stroke-width="2" />
                                    <path d="M0 7.5H43.5" stroke="currentColor" stroke-width="2" />
                                </g>
                            </svg>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="focus-rect"></div>
        <div class="star">
            <div>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <footer>
            <div class="cr">
                <p>© Copyright</p>
                <div>
                    <a href="https://instagram.com/gpret_umg" target="_blank" class="ig with-cptr"></a>
                    <a href="https://tiktok.com/@gpret_umg" target="_blank" class="tt with-cptr"></a>
                    <a href="https://youtube.com/@g-pretumg" target="_blank" class="yt with-cptr"></a>
                </div>
            </div>
        </footer>
        <!-- <h1 style="font-size: 300px;">HOME</h1> -->
    </section>
</main>