<main data-barba="container" data-barba-namespace="not-found">
    <div class="nav-logo">
        <a class="nav-icon with-cptr" href="/"></a>
        <p class="nav-tag">Photos<br />Grapho</p>
    </div>
    <section id="not-found">
        <header class="pg-header" style="top: 50%;">
            <h1 class="bg-title" style="text-align: center;">Not Found
                <h1 class="title" style="left: 43.5%;" data-scroll="10">404</h1>
            </h1>
        </header>
    </section>
    <footer style="position: fixed; bottom: 0; width: 100%;">
        <div class="navigate-button nb-dark nb-back">
            <span></span>
            <p>
                <a href="javascript:history.back()">
                    <svg width="46" height="15" viewBox="0 0 46 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g transform="rotate(180 22.7 7.5)">
                            <path d=" M36 1L43.5 7.5L36 14" stroke="currentColor" stroke-width="2" />
                            <path d="M0 7.5H43.5" stroke="currentColor" stroke-width="2" />
                        </g>
                    </svg>
                    Back
                </a>
            </p>
        </div>
        <div class="capture">
            <span class="bl"></span>
            <span class="br"></span>
        </div>
        <div class="cr">
            <p>© Copyright</p>
            <div>
                <a href="https://instagram.com/gpret_umg" target="_blank" class="ig with-cptr"></a>
                <a href="https://tiktok.com/@gpret_umg" target="_blank" class="tt with-cptr"></a>
                <a href="https://youtube.com/@g-pretumg" target="_blank" class="yt with-cptr"></a>
            </div>
        </div>
    </footer>
</main>