<main data-barba="container" data-barba-namespace="structure">
    <section id="structure" class="bg-circle-dark">
        <div class="nav-logo">
            <a class="nav-icon with-cptr" href="/"></a>
            <p class="nav-tag">Photos<br />Grapho</p>
        </div>
        <div class="load">
            <div>
                <h1>ORGANIZATION<br />STRUCTURE</h1>
            </div>
        </div>
        <header class="pg-header">
            <h1 class="bg-title">ORGANIZATION<br /><span>STRUCTURE</span>
                <h1 class="title" data-scroll>ORGANIZATION<br />STRUCTURE</h1>
            </h1>
        </header>
        <div class="p1">
            <div class="container">
                <table class="grid">
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="profile-card">
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="profile-card">
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="profile-card">
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="profile-card">
                            </div>
                        </td>
                        <td>
                            <div class="profile-card">
                            </div>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>
                            <div class="profile-card">
                            </div>
                        </td>
                        <td>
                            <div class="profile-card">
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="structure" style="position: absolute; top: 0;">
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="profile-card">
                                <h1 class="title">Pembina
                                </h1>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="profile-card">
                                <h1 class="title">Ketua<br />Umum
                                </h1>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="profile-card">
                                <h1 class="title">Wakil<br />Ketua<br />Umum
                                </h1>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="profile-card">
                                <h1 class="title">Sekertaris 1
                                </h1>
                            </div>
                        </td>
                        <td>
                            <div class="profile-card">
                                <h1 class="title">Sekertaris 2
                                </h1>
                            </div>
                        </td>
                        <td>
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <span style="font-size: 3vw;">+</span>
                            </div>
                        </td>
                        <td>
                            <div class="profile-card">
                                <h1 class="title">Bendahara 1
                                </h1>
                            </div>
                        </td>
                        <td>
                            <div class="profile-card">
                                <h1 class="title">Bendahara 2
                                </h1>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="profile-card">
                                <h1 class="title">LITBANG
                                </h1>
                            </div>
                        </td>
                        <td>
                            <div class="profile-card">
                                <h1 class="title">HUMAS
                                </h1>
                            </div>
                        </td>
                        <td>
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <span
                                    style="width: clamp(5px, 1.5vw, 30px); height: clamp(1px, 0.3vw, 5px); background-color: white; display: block;"></span>
                                <span
                                    style="width: clamp(2.5px, 0.75vw, 15px); height: clamp(1px, 0.3vw, 5px); background-color: white; display: block; position: absolute; transform: translateX(-50%); rotate: 90deg;"></span>
                            </div>
                        </td>
                        <td>
                            <div class="profile-card">
                                <h1 class="title">Kaderisasi
                                </h1>
                            </div>
                        </td>
                        <td>
                            <div class="profile-card">
                                <h1 class="title">KWU<br />Logistik
                                </h1>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <footer>
            <div class="navigate-button nb-dark nb-back">
                <span></span>
                <p>
                    <a href="/">
                        <svg width="46" height="15" viewBox="0 0 46 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g transform="rotate(180 22.7 7.5)">
                                <path d=" M36 1L43.5 7.5L36 14" stroke="currentColor" stroke-width="2" />
                                <path d="M0 7.5H43.5" stroke="currentColor" stroke-width="2" />
                            </g>
                        </svg>
                        HOME
                    </a>
                </p>
            </div>
            <div class="capture">
                <span class="bl"></span>
                <span class="br"></span>
            </div>
            <div class="cr">
                <p>© Copyright</p>
                <div>
                    <a href="https://instagram.com/gpret_umg" target="_blank" class="ig with-cptr"></a>
                    <a href="https://tiktok.com/@gpret_umg" target="_blank" class="tt with-cptr"></a>
                    <a href="https://youtube.com/@g-pretumg" target="_blank" class="yt with-cptr"></a>
                </div>
            </div>
        </footer>
    </section>
</main>