// body {
//     background-color: white;
// }

// main {
//     // background-color: red;
//     max-height: 100dvh;
// }

#activity-detail {
    background-image: none;
    background-color: white;

    header {
        min-height: 700px;
        background-color: white;


        .img {
            img {
                width: 100%;
                height: 48dvh;
                object-fit: cover;
                // object-position: 0% 30%;
            }
        }

        .title {
            position: absolute;
            top: 30dvh;
            left: 10%;
            font-size: 200px;
            max-width: 800px;
            word-wrap: break-word;
            line-height: 170px;
            // color: #F5F5F5;
            color: #FC973B;
        }


        .desc {
            position: absolute;
            top: 60dvh;
            left: 60%;
            font-size: 24px;
            max-width: 200px;
            color: black;
        }

        .star {
            position: absolute;
            top: 65dvh;
            right: 50%;
            width: 40px;
            height: 40px;
            animation-name: AnimateFadeIn;
            animation-duration: 1.5s;
            animation-fill-mode: both;
            // background-color: black;

            &>div {
                position: absolute;
                top: 10%;
                left: 15%;
                animation-name: rotation;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                /* background-color: antiquewhite; */
                width: 40px;
                height: 40px;
                transform: translateX(18px);
                z-index: 5;
            }

            span {
                display: block;
                width: 4px;
                height: 40px;
                background-color: #FC973B;
                position: absolute;
            }
        }
    }

    .p1 {
        min-height: 2000px;
        position: relative;

        .g-item {
            position: absolute;
            box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
            animation-name: AnimateFadeIn;
            animation-duration: 2s;
            animation-fill-mode: both;
            // animation-delay: 0.5s;

            .g-wrap {
                width: 100%;
                height: 100%;
                background-color: white;
                padding: 20px;
                overflow: hidden;
                // padding-bottom: 60px;

                img {
                    width: 100%;
                    // max-width: 40vw;
                    max-width: calc(30vw + 190px);
                    // min-width: 400px;
                    height: auto;
                    object-fit: cover;
                }
            }



            &:nth-child(1) {
                top: 80px;
                left: 10%;

                .g-wrap {
                    // max-width: 30vw;
                    max-width: calc(20vw + 190px);
                }
            }


            &:nth-child(2) {
                top: 400px;
                right: 10%;
            }

            &:nth-child(3) {
                top: 800px;
                left: 35%;

                .g-wrap {
                    // max-width: 20vw;
                    max-width: calc(10vw + 190px);
                }
            }

            &:nth-child(4) {
                top: 1100px;
                left: 10%;

                .g-wrap {
                    // max-width: 20vw;
                }
            }

            &:nth-child(5) {
                top: 1100px;
                right: 10%;

                .g-wrap {
                    max-width: 30vw;
                    // max-width: calc(20vw + 190px);
                }
            }

            &:nth-child(6) {
                top: 1600px;
                right: 15%;

                .g-wrap {
                    // max-width: 25vw;
                    max-width: calc(10vw + 290px);
                }
            }
        }

    }

    @media screen and (max-width: 900px) {
        header {
            .title {
                font-size: 90px;
                width: 90%;
                line-height: 80px;
                left: 5%;
            }
        }

        .p1 {
            min-height: auto;
            position: relative;
            padding: 0 40px;

            .g-item {
                position: relative;

                .g-wrap {
                    padding: 15px;
                    overflow: hidden;
                    // padding-bottom: 60px;

                    img {
                        width: 100%;
                        max-width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }


                &:nth-child(1) {
                    top: auto;
                    left: auto;

                    .g-wrap {
                        max-width: 100%;
                    }
                }


                &:nth-child(2) {
                    top: auto;
                    right: auto;
                }

                &:nth-child(3) {
                    top: auto;
                    left: auto;

                    .g-wrap {
                        max-width: 100%;
                    }
                }

                &:nth-child(4) {
                    top: auto;
                    left: auto;

                    .g-wrap {
                        // max-width:100%;
                    }
                }

                &:nth-child(5) {
                    top: auto;
                    right: auto;

                    .g-wrap {
                        max-width: 100%;
                    }
                }

                &:nth-child(6) {
                    top: auto;
                    right: auto;

                    .g-wrap {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    .with-cptr {
        position: relative;

        &>span>span {
            border-color: black;
        }
    }

    footer {
        // background-color: white;
        // mix-blend-mode: difference;
        color: black;

        .cr a {
            color: black;
        }

        .capture {

            .bl,
            .br {
                border-color: black;
            }
        }
    }
}