@keyframes AnimateInFadeUp {
    from {
        /* bottom: -100px; */
        transform: translateY(150px);
        opacity: 0;
    }

    to {
        /* bottom: 0; */
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes AnimateInFadeUpPosition {
    from {
        bottom: -100px;
        // transform: translateY(150px);
        opacity: 0;
    }

    to {
        bottom: 0;
        // transform: translateY(0);
        opacity: 1;
    }
}

@keyframes AnimateInFadeDown {
    from {
        /* bottom: -100px; */
        transform: translateY(-150px);
        opacity: 0;
    }

    to {
        /* bottom: 0; */
        /* transform: translateY(0); */
        opacity: 1;
    }
}

@keyframes AnimateFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes loadSwipeUp {
    from {
        bottom: 0;
    }

    to {
        bottom: 100vh;
    }
}


@keyframes rotation {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 359deg;
    }
}